########################################################################################################
########################################################################################################
########################################################################################################
########################################################################################################
#######################                                                #################################
####################### AUTHOR: SALVADOR JESÚS MEGÍAS ANDREU           #################################
####################### EMAIL: salvadorjmegias@gmail.com               #################################
####################### UNIVERSITY EMAIL: salvadorjesus@correo.ugr.es  #################################
#######################                                                #################################
########################################################################################################
########################################################################################################
########################################################################################################
########################################################################################################


# Possible modes of use depending on the version of pip you have

# HOW TO USE: pip install -r requirements.txt
# HOW TO USE: pip3 install -r requirements.txt

# Versions used on my computer (to avoid version conflict issues)
# Python version used during development : 3.8.10
# Version of pip used during development: 20.0.2


smptlib		# to sending mails
argparse	# to command-line interface
dkimpy 	# to dkim management
